<header class="site-header">
  <div class="site-identity">
      <h1 style="color:#991466;">WELCOME BACK</h1>
  </div>
  <nav class="site-navigation">
      <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/getData">Show Data</a></li>
          <li><a href="/openForm">Add New Data</a></li>
          <li><a href="/getDataToBeUpdated">Update Data</a></li>
          <li><a href="/logout">Logout</a></li>
          
      </ul>
  </nav>
</header>
<style>
  table, th, td {
    border: 1px solid rgb(20, 138, 12);
    border-collapse: collapse;
  }
  th, td {
    background-color: #f2f5fa;
  }
</style>
  
  <form method="GET" id="form" action="/getDataToBeUpdated">
    
    <table>
    
      <tr>
         <th style="color:hsl(234, 100%, 50%)">name</th>
         <th>city</th>
         <th>course</th>
         <th>update</th>
         <th style="color:#ff0015">delete</th>
         
      </tr>
   
      <% for (let i = 0; i < data.length; i++) { %>
       <tr>
         <td style="color:rgb(162, 0, 255)"><%= data[i].name %></td>
         <td><%= data[i].city %></td>
         <td><%= data[i].course %></td>
         
         <td><button name="update" value="<%= data[i].name %>">Update</button> </td>
         <td><button name="delete" value="<%= data[i].name %>">Delete</button> </td>
         <td><a href="/deleteData?name=<%= data[i].name %>">Delete Entry </a> </td>
         <td><a href="/">logout</a></td>
       </tr>    
      <% } %>
   </table>
   </form>
   <a style="background-color:#47ff1e;"href="/openForm">Add New Data </a>      <br>
  
   
  
  