<%- include ('./partials/header')-%>
<head>
  <h1 >WELCOME BACK</h1>

  </head>
<style>


    table, th, td {
      border: 1px solid rgb(138, 12, 12);
      border-collapse: collapse;
    }
    th, td {
      background-color: #96D4D4;
    }
</style>

<form method="GET" id="form" action="/getDataToBeUpdated">
  
  <table>
  
    <tr>
       <th style="color:hsl(234, 100%, 50%)">name</th>
       <th>city</th>
       <th>course</th>
       <th>update</th>
       <th style="color:#ff0015">delete</th>
       
    </tr>
 
    <% for (let i = 0; i < data.length; i++) { %>
     <tr>
       <td style="color:rgb(162, 0, 255)"><%= data[i].name %></td>
       <td><%= data[i].city %></td>
       <td><%= data[i].course %></td>
       
       <td><button name="update" value="<%= data[i].name %>">Update</button> </td>
       <td><button name="delete" value="<%= data[i].name %>">Delete</button> </td>
       <td><a href="/deleteData?name=<%= data[i].name %>">Delete Entry </a> </td>
     </tr>    
    <% } %>
 </table>
 </form>
 <a style="background-color:#47ff1e;"href="/openForm">Add New Data </a>      <br>
 
 <a style="background-color:#47ff1e;"href="/registrationForm">registration for users </a>   <br>

 <a style="background-color:hwb(126 12% 0%);"href="/login">login for users </a>  <br>

 <a style="background-color:hwb(126 12% 0%);"href="/logout">logout </a>  <br>
 
 <a style="background-color:rgb(139, 31, 255);"href="/signup">signup for users </a>