<html>
    <head>
        <h1>Selected Data</h1>
    </head>
    <body>
        <table>
            <tr>
                <th style="color:hsl(234, 100%, 50%)">ClientID</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Address</th>
                <th>City</th>
                
             </tr>
          
             <% for (let i = 0; i < data.length; i++) { %>
              <tr>
                <td style="color:rgb(162, 0, 255)"><%= data[i].ClientID %></td>
                <td><%= data[i].Lastname%></td>
                <td><%= data[i].Firstname %></td>
                <td><%= data[i].Address %></td>
                <td><%= data[i].City %></td>
                
                
             <% } %>
             </tr>
              </table>
         </form>
         
          